
    
<button ng-repeat="filterButton in filterButtons" ng-model="filterButtons" ng-click="updateFilter(filterButton.name)"
    ng-class="{'active':filterButton.selected }" class="btn btn-default">{{filterButton.displayName}}
</button>

<div class="text-center" style="margin-top: 15px; margin-bottom: 15px; font-style: italic" ng-show="filteredOrders.length == 0">
    No orders found
</div>
<table class="table table-bordered table-hover" style="margin-top: 15px;" ng-hide="filteredOrders.length == 0">
    <thead>
    <tr>
        <th>Status</th>
        <th>Timestamp</th>
        <th>Order Number</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="order in filteredOrders " ng-click="orderClick()" model="filteredOrders"
        data-dismiss="modal">
        <td>{{order.status}}</td>
        <td>{{order.timeStamp}}</td>
        <td>{{order.orderNumber}}</td>
        <td>{{order.grandTotal}}</td>
    </tr>
    </tbody>
</table>
