
<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Orders</h4>
</div>
<div class="modal-body">

    <button class="btn btn-default pull-right" style="margin-left:15px" data-toggle="modal"
            data-target="#importItemsModal">
        IMPORT ITEMS
    </button>
    <button type="button" class="btn btn-default pull-right"
            ng-click="startNewOrder()">
        NEW ORDER
    </button>

    <!--<orders-grid ordersClick="getOrder(order.orderNumber)"/>-->
    <orders-grid orders="orders"/>

    <div class="modal-footer">
        <button type="button" class="btn btn-default">CLOSE</button>
    </div>
</div>
